extends ../../../../layouts/admin

block head
	title Manage Users

block neck
	//- I'm not displaying

block feet
	script(src='/views/admin/services/attendeesService.js')
	script(src='/views/admin/CMSName/attendees/index.js')

block body
	div(ng-controller="AttendeesCtrl")
		#header
		#insertion
		#filters
		#results-table
		#results-paging
		
		div.page-header
			h1 Users
		
		form.nav-stacked.pagination-centered
			div.input-group
				input.col-md-2(name='userName', type='text', placeholder='User Name', value='', ng-model='userName')
				input.col-md-2(name='email', type='text', placeholder='E-mail', value='', ng-model='email')
				input.col-md-2(name='password', type='password', placeholder='Password', value='', ng-model='password')
				button.btn.btn-info.btn-add(type='button', ng-click='addNew()') Add New
		
		form.filters
			div.row
				div.col-md-4
					label Name Search
					input.stretch(name='title', type='text', ng-model='filters.userName')
				div.col-md-4
					label Sort By
					select.stretch(name='sort', ng-model='filters.sort')
						option(value='userName') Name &#9650;
						option(value='-userName') Name &#9660;
						option(value='Email') Email &#9650;
						option(value='-Email') Email &#9660;
				div.col-md-4
					label Limit
					select.stretch(name='limit', ng-model='filters.limit')
						option(value='2') 2 items
						option(value='10') 10 items
						option(value='20', selected='selected') 20 items
						option(value='50') 50 items
						option(value='100') 100 items
		
		table.table.table-striped(ng-if='results.length>0')
			thead
				tr
					th 
					th Name
					th email
					th Loyalty Points
					th provider
			tbody#results-rows
				tr(ng-repeat='attendee in results')
					td
						input.btn.btn-details(type='button', value='Edit', ng-if='!attendee.details', ng-click='editAttendee($index)')
						input.btn.btn-primary(type='button', value='Save', ng-if='attendee.details', ng-click='saveAttendee($index)')
						input.btn.btn-danger(type='button', value='Remove', ng-if='attendee.details', ng-click='deleteAttendee($index)')
						input.btn.btn-info(type='button', value='Cancel', ng-if='attendee.details', ng-click='close()')
					td 
						div(ng-if='!attendee.details') {{attendee.userName}}
						.edit(ng-if='attendee.details')
							h3 Details

							table.table-hover
								thead
									tr
										th
										th
								tbody
									tr
										td
											strong User Name
										td
											input(type='text', placeholder='User Name', ng-model='attendee.details.userName')
									tr
										td
											strong News Subscription
										td
											input(type='text', placeholder='News Subscription', ng-model='attendee.details.subscribeNews')
											div.alert-info
												span.help-block 0 UnSubscribe
												span.help-block 1 Subscribe
									tr
										td
											strong E-mail
										td
											input(type='text', placeholder='E-mail', ng-model='attendee.details.email')
									tr
										td
											strong provider
										td
											input(type='text', placeholder='provider', ng-model='attendee.details.provider')
											div.alert-info
												span.help-block 0 for ProjectName
												span.help-block 1 for Facebook
									tr
										td
											strong Loyalty Points
										td
											input(type='text', placeholder='Loyalty Points', ng-model='attendee.details.loyaltyPoints')


					td
						{{attendee.email}}
					td
						{{attendee.loyaltyPoints}}
					td.nowrap
						{{attendee.provider}}

		
		h2(ng-if='results.length==0') no documents matched
		
		div.well
			span Page {{pages.current}} of {{pages.total}} | Results {{items.begin}} - {{items.end}} of {{items.total}}
			span.btn-group.pull-right
				button.btn.btn-page.btn-prev(data-page!='{{pages.prev}}', ng-click='previousPage()', ng-class='{disabled: !pages.hasPrev}') Prev
				button.btn.btn-page.btn-next(data-page!='{{pages.next}}', ng-click='nextPage()', ng-class='{disabled: !pages.hasNext}') Next
			div.clear
		